{% extends 'base.html' %}

{% block content %}

	{% if messages %}
    <div class="alert alert-warning fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    <br/>
    {% endif %}
    <h4 style="text-align:center;">Contact Bones Society</h4>
	<form method='POST' action=''>
	{% csrf_token %}
	{{ form.non_field_errors }}

	<div class="form-group">
		<label for="id_name">Name:</label> 
		{{ form.name.errors }}
		<input id="id_name" name="name" type="text" class="form-control" />
	</div>

	<div class="form-group">
		<label for="id_email">Email:</label> 
		{{ form.email.errors }}
		<input id="id_email" name="email" type="text" class="form-control" />
	</div>

	<div class="form-group">
		<label for="id_message">Message:</label> 
		{{ form.message.errors }}
		<textarea id="id_message" name="message" type="text" class="form-control" rows="6" /></textarea>
	</div>

	<input class="btn btn-primary btn-block" type="submit" />
	</form>

{% endblock %}