{% extends "base.html" %}

{% block head %}

<title>Checkout</title>

{% endblock %}


{% block content %}

    {% if messages %}
    <div class="alert alert-info fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
        </button>
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <table class='table table-bordered'>
        <tr>
            <td style="text-align:center;">
                <h4>Shipping Address</h4>
                {{ new_order.shipping_address }}<br/><br/>
                <a href="{% url 'checkout_details' %}">
                    <button class="btn btn-default btn-block">Edit</button>
                </a>
            </td>
            <td style="text-align:center;">
                <h5>Billing Address</h5>
                {{ new_order.billing_address }}<br/><br/>
                <a href="{% url 'checkout_details' %}">
                    <button class="btn btn-default btn-block">Edit</button>
                </a>
            </td>
        </tr>
    </table>
    <table class='table table-bordered'>
        <tr class="active">
            <td align="left" width="40%">Product</td>
            <td align="center">Size</td>
            <td align="center">Quantity</td>
            <td align="center">Remove</td>
            <td align="center">Price</td>
        </tr>
        {% for item in cart.cartitem_set.all %}
        <tr>
            {% for image in item.product.productimage_set.all %}
            {% if image.featured %}
            <td width="40%">
                <div><img class='cartImage' src="/media/{{ image.image }}"></div>
                <div>{{ item.product }}</div>
            </td>
            {% endif %}
            {% endfor %}
            <td align="center">{{ item.variations.size }}</td>
            <td align="center">{{ item.quantity }}</td>
            <td align="center">
                <form method='POST' action='{% url "remove_from_cart" item.id %}'>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link remove">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </form>
            </td>
            <td align="center">{{ item.product.price }}</td>
        </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <td width="40%" align="center" style="border:none;"></td>
                <td align="center" style="border:none;"></td>
                <td align="center" style="border:none;"></td>
                <td align="center" style="border:none;"></td>
                <td align="center" style="border:none;">
                    <p>Sub Total: ${{ new_order.sub_total|stringformat:"1.2f" }}</p>
                    {% if cart.promo_code %}
                    <p>Savings: - ${{ new_order.sale_savings|stringformat:"1.2f" }}</p>
                    {% endif %}
                    <p>Shipping: ${{ new_order.shipping_total|stringformat:"1.2f" }}</p>
                    <p>Total: ${{ new_order.final_total|stringformat:"1.2f" }}</p>
                </td>
            </tr>
        </tfoot>
    </table>
    <form id="checkout" method="post" action="{% url 'checkout_payment' new_order.id %}">
        {% csrf_token %}
        <div id="payment-form"></div>
        <button type="submit" class="btn btn-success btn-block btn-lg">Pay {{ new_order.final_total }}</button>
    </form>

{% endblock %}


{% block js %}

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<script>
  braintree.setup("{{ token }}", "dropin", {
    container: "payment-form"
  });
</script>

{% endblock %}